// Placeholder to allow overriding predefined variables smoothly.

$base-font-family: Inter, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$title-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;