---
layout: base
---

<div class="home">

  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% for post in site.posts limit:1 %}
    <li>
      <h3>
        <a class="post-link-big" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
      <a href="{{ post.url | relative_url }}">
        <i>(link to more...)</i>
      </a>
    </li>
    {%- endfor -%}
  </ul>

  {{ content }}


</div>